body {
  padding-top: 70px;
}

blockquote {
  padding-bottom: 50px !important;
  position: relative;
  .delete {
    position: absolute;
    top: 0;
    right: 0;
  }
  footer {
    background-color: #fff !important;
  }
}